[Unit]
Description=Zanzibar Backup Service

[Service]
Type=oneshot
Environment=PYTHONPATH=/home/cees/prj/znzb/src/main/python
ExecStart=/home/cees/prj/znzb/src/main/python/venv/bin/python3 -m znzb.backup

[Install]
WantedBy=default.target
